APP_ENV=development        # development | production
AUTO_CREATE_TABLES=True
POSTGRES_USER=migrator # User with DDL permissions for database migrations (should match the user in db/initdb.d/02-init.sql)
POSTGRES_PASSWORD=secret
POSTGRES_APP_USER=app # The application user with limited permissions (should match the user in db/initdb.d/02-init.sql)
POSTGRES_APP_PASSWORD=secret_app
POSTGRES_DB=nusc_viewer     # Database name (Should match the DB name in db/initdb.d/02-init.sql)

PGADMIN_EMAIL=pgadmin@sample.com
PGADMIN_PASSWORD=pgadmin
NUSCENES_DATAROOT=/data/nuscenes
